.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px 20px 80px;
}

.wide {
    max-width: 1400px;
}

@media (min-width: 1024px) {
    .container {
        padding-left: 24px;
        padding-right: 24px;
    }
}